/* Fix the toolbar at the top of the page */
.fixed-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #5c5cfb;
}

/* Add padding to the top of the content to account for the fixed toolbar */
.swipe-content {
  height: calc(100vh - 64px); 
}

/* Style for the swiper container */
.swiper-container {
  width: 100%;
  height: calc(100vh - 64px); /* Full height minus toolbar height */
}

.card {
  width: 100%;
  max-width: 400px;
  margin-right: 3%;
  max-height: max-content;
  min-height: max-content;
}
.mt-4 {
  margin-top: 6.5rem !important;
}
.card-img-top{
  max-height: 440px;
 
}

.card_toatal{
  width: 25%;
  // margin-left: 1%;
  display: flex;
  gap: 10px;
}
details{
  cursor: pointer;
}
.back_mat{
  color: black;
  cursor: pointer;
}
.profile-name{
  color: black;
}
.data-color{
  color: blue;
}

.mat-toolbar {
  color: #fff;
}
.btn-div button {
  padding: 4px 10px;
  border: none;
  background-color: #5c5cfb;
  color: white;
  border-radius: 4px;
  font-size: 16px;  
}
.button-space{
  display: flex;
  gap: 50%;
}